<h1>アカウント</h1>

<%= form_with model: @user, url: user_registration_path, method: :patch, scope: :user do |user| %>
    <div class="field">
        <%= user.label :email %><br />
        <%= user.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
        <%= user.label :password %> <i>(<%= t('※変更する場合のみ入力してください') %>)</i><br />
        <%= user.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
        <br />
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
    </div>

    <div class="field">
        <%= user.label :password_confirmation, value: "確認用パスワード(※変更する場合のみ入力してください)" %><br />
        <%= user.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div>
        <%= user.label :current_password %> <i>(<%= t('現在のパスワードを入力してください') %>)</i><br>
        <%= user.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <%= user.submit %>
<% end %>