<h1>施設詳細・予約</h1>

<%= form_with model: @reservation, url: "/reservations/confirm" do |r| %>
    <table>
        <tr>
            <td><%= r.label :check_in ,"チェックイン" %></td>
            <td><%= r.date_field :check_in %></td>
        </tr>
        <tr>
            <td><%= r.label :check_out ,"チェックアウト" %></td>
            <td><%= r.date_field :check_out %></td>
        </tr>
        <tr>
            <td><%= r.label :person ,"人数" %></td>
            <td><%= r.text_field :person %></td>
        </tr>
    </table>
<%= r.submit "保存" %>    
<% end %>