<p id="notice"><%= notice %></p>

<div class="room_index_table">
  <h1>登録済み一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">画像</th>
        <th scope="col">施設名</th>
        <th scope="col">紹介文</th>
        <th scope="col">料金</th>
        <th scope="col">作成日</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td scope="row"><img src=<%= room.image %>></td>
          <td><%= link_to(room.name, room, :style => "text-decoration: none;") %></td>
          <td><%= room.detail %></td>
          <td><%= room.price %></td>
          <td><%= room.created_at %></td>
          <td><%= link_to '編集', edit_room_path(room) %></td>
          <td><%= link_to '施設を削除', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>