<p id="notice"><%= notice %></p>

<div class="room_show">
  <div class="room_show_bar">
    <%= link_to '戻る', rooms_path %>
  </div>
  <div class="room_show_content">
    <div class="room_show_content_left">
      <img src=<%= @room.image %>>
    </div>
    <div class="room_show_content_right">
      <%= @room.name %><br>
      <%= @room.address %><br>
      <%= @room.detail %>
      <p>チェックイン</p>
      <p>チェックアウト</p>
      <p>人数</p>
      <button type="button" class="btn btn-primary">予約する</button>
    </div>
  </div>
</div>


<%= link_to '編集', edit_room_path(@room) %> |
