<!DOCTYPE html>
<html>
  <head>
    <title>Reservation_app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>

  <body>
    <div class="header">
      <%= link_to("Potepan Share", "/", class: "top_logo") %>
      <nav>
        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle", style="color: white;" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><%= link_to("施設の新規登録", new_room_path, class: "dropdown-item top_nav_hide") %></li>
              <li><%= link_to("予約済み一覧", reservations_path, class: "dropdown-item top_nav_hide") %></li>
              <li><%= link_to("登録済み一覧", "rooms/own", class: "dropdown-item top_nav_hide") %></li>
              <li><%= link_to("アカウント設定", "/users/#{current_user.id}/show", class: "dropdown-item top_nav_hide") %></li>
              <li><%= link_to("ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item top_nav_hide") %></li>
            </ul>
          </div> 
        <% else %>
          <%= link_to("ログイン", new_user_session_path, class: "top_nav") %>
          <%= link_to("新規登録", new_user_registration_path, class: "top_nav", class: "btn btn-primary top_nav")%>
        <% end %>
      </nav>
    </div>
    <%= notice %>
    <%= alert %>
    <%= yield %>
    <div class="footer">
      <div class="footer_container">
        <%= link_to("Potepan Share", "/", class: "footer_logo") %>
        <p class="footer_message">Copyright © Potepan Share 2023 All rights reserved</p>
      </div>
      <%= link_to("新規予約へ行く", new_reservation_path) %>
      <%= link_to("own", "rooms/:id/own") %>
      <%= link_to("プロフィール本家", "users/profile") %>
      <%= link_to("userindex", "users/index") %>
      
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> 
  </body>
</html>
